@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Rubik:wght@500&family=Varela+Round&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'futura-pt', 'Roboto', 'sans-serif';
  font-family: 'Rubik', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* #logoFont{
  font-family: 'Varela Round', sans-serif;
} */

#logoFont{
  font-family: 'Overpass', sans-serif;
}

/* .previewBG{
  background-image: url(../public/jsonanims/previewBG.gif);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */